<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Create maps easily, mark spots instantly</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <script defer data-domain="mapisy.com" src="https://analytics.juanma.app/js/script.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="logo" onclick="window.location.href='#'" style="cursor: pointer;">
            <span>{{ title }}</span>
        </div>
        <button class="cta-button" onclick="window.location.href='#get-started'">Get Started</button>
    </nav>

    <header class="hero">
        <div class="hero-content">
            <h1>Create maps easily, <br>mark spots instantly</h1>
            <p style="margin-bottom: 1rem;">Easily create maps and add markers with our API. Perfect for tracking locations, sharing points of interest, and visualizing data with minimal setup.</p>
            <p style="margin-bottom: 2rem;">Forget complicated APIs. Just create, customize, and share your map in seconds.</p>
            <div class="hero-buttons">
                <button id="try-demo" class="primary-button">Try Demo</button>
                <button onclick="window.location.href='#api'" class="secondary-button">View API</button>
            </div>
        </div>
        <div class="hero-image" style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
            <iframe src="/demo" width="100%"></iframe>
            <div class="code-example" style="margin-top: 1rem;">
                <pre><code id="curl-command">{{ curlCommand }}</code></pre>
            </div>
        </div>
    </header>

    <section id="get-started" class="features">
        <h2>Get Started</h2>
        <div class="feature-grid">
            <div class="feature-card">
                <div class="feature-icon">🌍</div>
                <h3>1. Create Your Map</h3>
                <p>Simply add the path to our root URL, and you're ready to go. No complex setups, just instant maps. For example: <a target="_blank" href="{{baseUrl}}/{{mapId}}">{{baseUrl}}/{{mapId}}</a></p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">⚙️</div>
                <h3>2. Customize</h3>
                <p>Set the center, zoom level, title, and description of your map with ease. {{title}} adapts to your specific needs.</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">📍</div>
                <h3>3. Add Markers</h3>
                <p>Use the simple API to add markers in seconds. Every point shows up on your map instantly, giving you live data visualization.</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">🔗</div>
                <h3>4. Share and Explore</h3>
                <p>Share your map with a simple link. Perfect for highlighting points of interest and showcasing data effortlessly.</p>
            </div>
        </div>
    </section>

    <section id="api" class="api-section">
        <h2>Simple API</h2>
        <div>
            <h3 style="margin-bottom: 1rem;max-width: 1000px;margin: 10px auto;font-size: 1.5rem;">Create a marker</h3>
            <div class="code-example">
                <pre><code>curl -X POST {{baseUrl}}/api/maps/<span style="color: red;">{map_id}</span>/markers \
    -H "Authorization: Bearer <span style="color: red;">{api_key}</span>" \
    -H "Content-Type: application/json" \
    -d "{
        \"latitude\": <span style="color: red;">{latitude}</span>,
        \"longitude\": <span style="color: red;">{longitude}</span>,
        \"title\": <span style="color: red;">{title}</span>
    }"</code></pre>
            </div>
        </div>
        <div>
            <h3 style="margin-bottom: 1rem;max-width: 1000px;margin: 10px auto;font-size: 1.5rem;">Remove a marker</h3>
            <div class="code-example">
                <pre><code>curl -X DELETE {{baseUrl}}/api/maps/<span style="color: red;">{map_id}</span>/markers/<span style="color: red;">{marker_id}</span> \
    -H "Authorization: Bearer <span style="color: red;">{api_key}</span>" \
    -H "Content-Type: application/json"</code></pre>
            </div>
        </div>
        <div>
            <h3 style="margin-bottom: 1rem;max-width: 1000px;margin: 10px auto;font-size: 1.5rem;">Update map configuration</h3>
            <div class="code-example">
                <pre><code>curl -X PUT {{baseUrl}}/api/maps/<span style="color: red;">{map_id}</span> \
    -H "Authorization: Bearer <span style="color: red;">{api_key}</span>" \
    -H "Content-Type: application/json" \
    -d "{
        \"latitude\": <span style="color: red;">{latitude}</span>,
        \"longitude\": <span style="color: red;">{longitude}</span>,
        \"zoom\": <span style="color: red;">{zoom}</span>,
        \"title\": <span style="color: red;">{title}</span>,
        \"description\": <span style="color: red;">{description}</span>
    }"</code></pre>
            </div>
        </div>
        <div>
            <h3 style="margin-bottom: 1rem;max-width: 1000px;margin: 50px auto;font-size: 1.5rem;">More functionality coming soon...</h3>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-bottom">
            <p>&copy; 2024 {{ title }}. All rights reserved.</p>
        </div>
    </footer>

    <script src="/scripts.js"></script>
</body>

</html>
